body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: aliceblue url(https://us-tuna-sounds-images.voicemod.net/dfe00298-0efe-4ccb-a1c4-8b456326ccb2-1659033930989.jpg) no-repeat fixed center;
    background-size: cover;
  
} 
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 4em;
  margin: 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  margin: 0;
}
h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
}
ul{
    color: rgb(rgb(171, 16, 16), rgb(25, 73, 25), rgb(190, 65, 169));
    font-size: 0.5em;
}
li{
    color: darkorange;
    text-align: justify;
}
